<p style="color: green"><%= notice %></p>

<%= render @kit_product %>

<div>
  <%= link_to "Edit this product", edit_kit_product_path(@kit_product) %> |
  <%= link_to "Back to products", kit_products_path %>

  <%= button_to "Destroy this product", @kit_product, method: :delete %>
</div>
